.info {
    padding: 3.5em 0.5em;
}
.info .wrapper .flexcol {
    align-items: center;
    gap: 0;
}
.info ul li a {
    font-size: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--light-bg-color);
    border-radius: var(--percent50);
    margin: 0.25em;
    transition: var(--trans-background);
}
.info ul li a:hover {
    background-color: var(--border-color);
}
.info .logo a {
    margin: 0 0 1em -0.75em;
}
.info .mini-text {
    margin-top: 2em;
    text-align: center;
}