.sectop{
    justify-content: space-between;
    padding-bottom: 0.5em;
    margin-bottom: 2em;
    border-bottom: 1px solid var(--border-color)
}
.sectop h2 {
    position: relative;
    font-size: 1.5em;
    font-weight: var(--fw7);
}
sectop h2 span:not(.circle) {
    padding: 0 0 0 2em;
}
.sectop h2 .circle {
    top: -5px;
}

.products .offer {
    text-align: center;
    margin-bottom: 1.5em;
}
.products .offer p {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.products .offer ul {
    gap: 1em;
}
.products .offer ul li {
    position: relative;
    width: 34px;
    height: 34px;
    padding: 0.5em;
    line-height: initial;
    color: var(--secondary-dark-color);
    background-color: var(--light-bg-color);
    border-radius: 5px;
}
.products .offer ul li:not(:last-child)::before {
    content: '';
    position: absolute;
    right: -0.6em;
    color: var(--light-text-color);
}
.products.big .item {
    flex-direction: column;
    padding: 2.5em;
    border: 2px solid var(--secondary-dark-color);
    border-radius: 7px;
    max-width: 460px;
    margin: 0 auto;
}
.products :where(.image, .thumbnail) img {
    transition: transform .3s;
}
.products :where(.image, .thumbnail):hover img {
    transform: scale(1.1);
}
.products .hoverable {
    position: absolute;
    top: 0;
    right: 0;
}
products .hoverable li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    padding: 0.25em;
    margin: 0.25em;
    border-radius: var(--percent50);
    line-height: 1;
    background-color: var(--white-color);
    opacity: .5;
    transition: var(--trans-background-color), opacity .3s;
}
.products .item:hover .hoverable li a{
opacity: 1;
}
.products .hoverable li a:hover {
    color: var(--white-color);
    background-color: var(--dark-color);
}
.products .hoverable li.active a:hover {
    background-color: var(--primary-color);
}
.products .hoverable li:not(.active) {
    transform: translateX(100%);
    opacity: 0;
    transition: transform .3s, opacity .2s;
}
.products .item:hover .hoverrable li {
    transform: translateX(0);
    opacity:1;
}