.cart {
    width: 300px;
    position: absolute;
    top: 100%;
    left: -95%;
    z-index: 555;
    background-color: var(--white-color);
}
.cross {
    height:18px;
    width: 16px;
}
.cartlefthead .main-text {
    height: 50px;
    width: 100px;
}
.cartItem {
    display: flex;
    flex-direction: column;
    border:1px solid var(--border-color);
}
.cartItem span {
    width: 100%;
    padding: 1em 1em;
    border-bottom: 1px solid var(--border-color);
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}
.cartlist .cartHead {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5em 0.5em;
    border-radius: 7px 7px 0 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    display: flex;
    font-weight: smaller;
    justify-content: space-between;
}
