.cart {
    width: 300px;
    border:1px solid var(--border-color);
    position: absolute;
    top: 100%;
    left: -95%;
    z-index: 555;
    background-color: var(--white-color);
}
.cartItem {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    border-bottom: 1px solid var(--border-color);

}
.cartItem span {
     background-color: var(--border-color);
    font-size: medium;
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
}