.departements {
    position: relative;
    z-index: 10;
}
.departements .dpt-head {
    position: relative;
    width: 300px;
    padding: 0.75em 1.5em;
    background-color: var(--primary-color);
    border-radius: 7px 7px 0 0;
    color: var(--white-color);
    margin-bottom: -2.15em;
}
.departements .dpt-head .mini-text {
    color: var(--light-bg-color);
}
.departements .dpt-trigger {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.3em;
    height:60px;
    width: 60px;
}
.dpt-menu > ul > li > a {
    display: flex;
    font-size: var(--font-small);
    height: 46px;
    align-items: center;
    border-bottom: 1px solid var(--border-color);

}
.dpt-menu .has-child:hover ul {
    display:block;
}
.dpt-menu .has-child li a:hover {
    text-decoration: underline;
}
.dpt-menu .has-child > :where(ul, .mega)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255,0,0));
}
/*............*/