.products.main .item {
    flex-direction: column;
    padding: 1em;
    border-radius: 10px;
    margin: 1%;
    box-shadow: 0 5px 5px 0 #49494b;

}
.products.main .media {
    height: 200px;
    width: 300px;
}
.products.main .footer {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 1em 1em;
    border-radius: 7px;
    z-index: 1;
    /* background: linear-gradient(0deg var(--light-bg-color) 0%, var(--white-color) 70%); */
    background-color: #a9cbd3;
    opacity: 0;
    visibility: hidden;
    will-change: opacity;
    transition: all .2s ease-in-out;
}
.products.main .item:hover .footer {
    opacity: 1;
    visibility: visible;
}
.products.main .footer ul {
    list-style: disc;
    padding: 1.25em 0 0 1.25em;
    line-height: 1.8;
    border-top: 1px solid var(--border-color);
    margin-top: 145px;
}
.products.main .item:hover .content > *:not(.footer) {
    z-index: 3;
}